.sb-sidenav
  .sb-sidenav-menu
  .nav
  .nav-link.collapsed
  .sb-sidenav-collapse-arrow {
  &.active {
    transform: rotate(0);
  }
}

.sb-sidenav .sb-sidenav-menu .nav .collapse-content {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
